body {
  background-color: tan;
}

h2 {
  color: black;
  text-shadow: 2px 2px 10px orangered;
}

img:hover {
  border: solid 2px black;
  transition: transform 0.5s;
  transform: scale(1.25);
}

img {
  height: 15vh;
}

.spinner {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 100vw;
}

.top-level {
  text-align: center;
}

.recipe-box {
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
}

.recipe-item {
  display: flex;
  height: fit-content;
  width: 45vw;
  margin: auto;
  text-align: center;
}

.recipe {
  color: darkgreen;
  height: 45vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 5px;
}

.info-box {
  font-weight: bold;
}

@media (min-width: 600px) {
  .recipe-item {
    width: 20vw;
  }

}
